<div class="row">
    <div class="col-md-12 wow fadeInUp">
        <p><b>Business oriented</b> adalah sebuah metode yang dipakai oleh beberapa perusahaan
        untuk menentukan alur bisnis dari suatu perusahaan, dan oleh karena itu maka <a href="index.html">Pojokan.io</a>
        sebagai sebuah perusahaan teknologi yang didirikan oleh para kawula muda dan member yang bertalenta di seluruh negeri Indonesia,
        adapun business oriented yang ada di dalam <a href="index.html">Pojokan.Io</a> ini menggunakan 2 jenis model business,
        yaitu business model yang berorientasi kepada business (B2B) dan juga business model yang berorientasi kepada customer (B2C)
        berdasarkan hal tersebut, maka <a href="index.html">Pojokan.Io</a> ini juga didirikan berdasarkan kedua business model tersebut
        hal ini juga digunakan oleh <a href="index.html">Pojokan.Io</a> untuk lebih mengarahkan alur business dari <a href="index.html">Pojokan.Io</a>
        itu sendiri yang sekaligus membedakan <a href="index.html">Pojokan.Io</a> dengan perusahaan lainnya.</p>

        <p>Adapun beberapa kategori yang ada di dalam Bussiness Oriented ini adalah sebagai berikut</p>
        <ol>
          <li>Business Model</li>
          <center><img src="img/business-model-canvas.jpg" class="my-3" alt="Business Model"></center>
          <p><a href="index.html">Pojokan.Io</a> memiliki sebuah business model yang bisa disesuaikan dengan permintaan customer yaitu melalui
          business model yang ada diatas, jika melihat gambar di atas, maka semua yang dibutuhkan oleh customer itu akan dicatat dan
          dianalisis terlebih dahulu lewat business model tersebut sebelum dilakukannya process development, hal ini agar
          mempermudah pihak developer untuk memulai proses development sistem sesuai business model yang telah
          dibutuhkan oleh customer baik dari segi B2B maupun B2C.</p>

          <li>Business Process</li>
          <center> <img src="img/Pojokan-Project-Tutorial-System.png" class="my-3" alt="Business Process"> </center>
          <p><a href="index.html">Pojokan.Io</a> itu sendiri juga memiliki business process sendiri yang lain dari perusahaan teknologi sejenis, maka
          <a href="index.html">Pojokan.Io</a> membuat sebuah standar tersendiri mengenai sistem yang akan dibangun oleh tim development yang dimikiliki
          oleh <a href="index.html">Pojokan.Io</a>, hal ini digunakan agar setiap tim yang ada di dalam <a href="index.html">Pojokan.Io</a> itu dapat saling bekerjasama dan tidak
          ada yang bentrok ketika melakukan proses development, serta kami juga akan selalu membuat business process
          sebelum melakukan proses development, agar pihak developer bisa mengetahui mengenai teknologi apa yang akan digunakan
          oleh sistem yang akan kami tawarkan kepada pihak customer.</p>

          <li>Segmentasi Business</li>
          <center> <img src="img/business-segment.jpg" width="700" class="my-3" alt="Business Segment"> </center>
          <p>Untuk setiap produk yang ditawarkan berbasis B2C, maka <a href="index.html">Pojokan.Io</a> sebagai perusahaan berbasis teknologi akan
          melakukan analisis segmentasi pasar yang ada di Indonesia terlebih dahulu sebelum perusahaan <a href="index.html">Pojokan.Io</a> ini akan go
          international. <a href="index.html">Pojokan.Io</a> juga sudah memahami mengenai kondisi pasar yang ada di Indonesia, dan hal inilah yang
          membuat <a href="index.html">Pojokan.Io</a> sebagai salah satu perusahaan teknologi yang menggunakan model business B2B & B2C dapat
          dengan mudah mengetahui segmentasi pasar yang ada di Indonesia, hal ini juga akan membantu <a href="index.html">Pojokan.Io</a> didalam
          memperbaikai sistem B2C yang dimiliki agar tetap sesuai dengan segmentasi pasar yang ada di Indonesia.</p>
        </ol>
    </div>
</div>
