<div class="row">
    <div class="col-md-12 wow fadeInUp">
        <h3>Continously Integration</h3>
        <p>
            Mistakes in work processes are something that cannot be denied at any company, often when a company             has been
            running stable it can make us unmindful of potential mistakes that might be             happen. Not to mention
            the small things that are ignored by employees so that it can be a problem that can hamper             the work
            processes of the company also have the potential to emerge. This makes Pojokan.Io reflect and learn             for
            these things, in this company we implement a work system called Continously Integration.</p>
        <p>
            <b>Continously Integration</b> is a work system that requires all parts of the company to always             integrate
            his work with each other. This allows us to always check the work             ongoing - ensuring that something
            is different or outside the agreement made for the work             the. This system alone cannot completely
            free us from all kinds of potential problems             can occur, however with this we can more easily find
            and solve problems             which exists.</p>
    </div>
</div>
<div class="row">
    <div class="col-md mt-md-3">
        <h5>The purpose of implementing this work system itself is:</h5>
        <hr />
        <p>
            <ol>
                <li class="wow fadeInUp">
                    <b>Minimum Time Cost</b>
                    <p> The process of integration itself is basically certainly applied in any job, but what distinguishes it
                                                This working system itself lies in the word "Continously", which means "Sustainable".
                        With                         applying this one simple thing that is doing a continuous integration
                        process, we can                         save time in dealing with existing problems.</p>
                </li>
                <li class="wow fadeInUp">
                    <b>Early Find Mistake</b>
                    <p> The integration process that is carried out on an ongoing basis automatically will require us to check
                                                work all the time. In contrast to when we do it in a long time span, the
                        problem                         tend to be discovered when we do integration. Therefore the integration
                        process is carried out                         periodically and continuously allows us to be able
                        to find potential problems early.</p>
                </li>
                <li class="wow fadeInUp">
                    <b> Rapid Delivery</b>
                    <p> Quick response to problems and their earlier discoveries can make developers more focused                         to
                        develop its products, so that products can be launched more quickly.</p>
                </li>
            </ol>
        </p>
    </div>
</div>