<div class="wow fadeInLeft" data-wow-delay="0.3s">
    <h1 class="h1-responsive font-bold mt-sm-5">
        <picture>
            <source srcset="img/logo.webp" type="image/webp">
            <source srcset="img/logo.png" type="image/png">
            <img loading="lazy" title="Pojokan.io" class="responsive-image" width="210">
        </picture>
    </h1>
    <div class="h6">Kami adalah sebuah perusahaan teknologi yang berbasis bussiness oriented terbesar dan terefisien di
        Indonesia
    </div>
</div><br>
<div class="wow fadeInLeft" data-wow-delay="0.3s"><a class="btn btn-outline-white" href="#content">Lebih lanjut</a>
</div>